name: Update Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Export diagrams
        run: ./export-structurizr-diagrams.sh

      - name: Install mkdocs + dependencies
        run: pip install -r requirements.txt
        
      - name: Update pages branch
        run: mkdocs gh-deploy
